.custom-background{
	
}

 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

		body.custom-background {
	  		background:url(images/camera1w320.jpg);  center center no-repeat;
	  		  
		}	        

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    	body.custom-background {
	  		background:url(images/camera1w_540.jpg);  center center no-repeat;
	  		   
		}	        
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	body.custom-background {
	  		background:url(images/camera1w718.jpg);  center center no-repeat;
	  		   
		}	      
    }